# Ignore the virtual environment
venv/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore environment variables and secrets
.env
userpass.py
.flaskenv

# VS Code settings
.vscode/
*.code-workspace
instagram.db

